body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  display: flex;
  flex-direction: column;
  background-color:aquamarine;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* CSS for Forms: addRentForm, */
.formSection{
  margin-left: 2%;
}
.form {
  display: flex;
  flex-direction: column;
  gap:20px;
}

.form input,.form textarea,.form select,.form button {
  width: 500px;
  height: 50px;
  font-size: 18px;
}

.form textarea {
  height:250px;
}

.bold {
  font-weight: bold;
}


/* CSS for Comment Section */
.commentSection {
  display: flex;
  flex-direction: column;
}
.commentPost {
  border:solid 1px black;
  padding:10px;
  margin:5px;
}

.commentPoster {
  font-weight: bold;
}